<div class="card__box">
  <div class="card__box-head">
    <%= tag.h1(recipe.name, class: 'card__title') %>
    <%= tag.h3("By: #{recipe.user.name}", class: 'card__author') %>
  </div>
  <div class="card__box-description">
    <%
    rf_f = recipe.recipe_foods.includes(:food)
    rf_price = 0
    rf_f.each { |item| rf_price += item.quantity * item.food.price }
    %>
    <%= tag.p("Total food items: #{rf_f.count}", class: 'card__text') %>
    <%= tag.p("Total price: #{rf_price}", class: 'card__text') %>
  </div>
  <%= link_to '', recipe_path(recipe.id), id: "link_recipe-#{recipe.id}", class: 'card__hidden-link' %>
</div>